.track-page {
  margin-top: 30px;
}

.track-page button {
  width: 100px;
  height: 33px;
  margin-left: 50px;
  border-radius: 3px;
}

.track-page input {
  width: 300px;
  height: 30px;
  border-radius: 5px;
}

.track-page hr {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
}
